<br/>
<div class="offset-lg-1 col-lg-9 col-md-9">
    <h2>Top Performers</h2>
<br/>
<table class="table table-hover table-striped">
  
    <thead>
      <tr>
        <th> 
            User Name
        </th>
  
        <th> 
            Test Title
        </th>
        <th> 
            Marks Secured
        </th>
      </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let que of user_tests ">
            <td>{{que.userId.userName}}</td>
            <td>{{que.testId.testTitle}}</td>
            <td>{{que.marksScored}}</td>
            
        </tr>
    </tbody>
  </table>
  </div>